@media(max-width:768px){

.details-page{
	.media{
		margin-top:0;
	}
	.custom_bg{
		overflow:hidden;
	}
	div.single_column{
		color:#fff !important;
		padding:0;
	}
}

h2,
h3,
h4,
p {
	padding-left: 0;
	padding-right: 0
}

main {
	width: 100%;
	overflow: hidden
}

section.inner_content.backdrop:before {
	background: linear-gradient(to bottom right, #eee, #fff);
	filter: brightness(100%)
}

div.header.large.first div.single_column,
section.inner_content.person_content div.single_column.medium {
	padding-top: 0;
	padding-bottom: 0
}

div.header.first div.single_column,
section.inner_content.person_content div.single_column {
	padding-left: 0;
	padding-right: 0
}

div.single_column {
	width: 100%;
	padding: 30px 20px;
	box-sizing: border-box
}

div.header.first div.single_column {
	box-sizing: border-box
}

section div.header.large.first div.single_column {
	background-color: transparent
}

section div.header.first div.single_column {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	border-bottom: 1px solid #d7d7d7
}

section.person_content div.header.first div.single_column {
	background-color: rgba(0, 0, 0, 0.4)
}

div.header_info {
	padding: 0 20px
}

section.inner_content div.header.large section.images {
	height: auto
}

section.inner_content section.images div.poster {
	float: none;
	display: block;
	margin: 0 auto;
	width: 100vw;
	height: 50vw;
	z-index: 1;
	position: relative;
	top: 0;
	overflow: visible
}

section.inner_content section.images div.poster.profile {
	position: relative;
	top: 6vw;
	width: 50vw;
	height: 50vw
}

section.inner_content section.images div.poster.no_backdrop {
	padding-top: 20px;
	height: 24vw;
	box-sizing: border-box
}

section.inner_content section.images div.poster.profile.no_image {
	padding-top: 0
}

section.inner_content.person_content ul.shortcut_bar {
	padding-left: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dedede
}

section.person_content ul.shortcut_bar {
	background: transparent;
	align-items: center
}

section.inner_content ul.shortcut_bar,
div.episode ul.episode_shortcut_bar {
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	white-space: nowrap;
	display: flex;
	align-items: center;
	align-content: center;
	padding-left: 20px;
	border-bottom: 1px solid #474747
}

section.inner_content.generic ul.shortcut_bar {
	background-color: #fff;
	border-bottom: none
}

div.episode ul.episode_shortcut_bar {
	justify-content: flex-start;
	border-top: none;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px
}

section.inner_content ul.shortcut_bar li,
div.episode ul.episode_shortcut_bar li {
	font-size: 1em;
	margin-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px
}

div.episode ul.episode_shortcut_bar li {
	padding: 0;
	font-size: 0.8em;
	margin-right: 20px
}

section.inner_content ul.shortcut_bar li:hover,
section.inner_content ul.shortcut_bar li.no_hover:hover {
	border-bottom: none;
	padding-bottom: 8px
}

section.inner_content ul.shortcut_bar li:hover,
section.inner_content ul.shortcut_bar li:hover a {
	color: #fff
}

section.inner_content ul.shortcut_bar li a,
section.inner_content ul.shortcut_bar li span.k-icon {
	font-size: 1em;
	font-weight: 400
}

section.inner_content ul.shortcut_bar li a,
section.inner_content ul.shortcut_bar li span,
section.inner_content ul.shortcut_bar li a:hover {
	color: #fff
}

section.inner_content ul.shortcut_bar li:last-child,
section.inner_content ul.episode_shortcut_bar li:last-child {
	padding-right: 20px
}

section.inner_content div.content_wrapper.black ul.shortcut_bar li a,
section.inner_content div.content_wrapper.black ul.shortcut_bar li span {
	color: #000
}

section.person_content ul.shortcut_bar li a,
section.person_content ul.shortcut_bar li span {
	color: #000
}

section.person_content ul.shortcut_bar li:hover,
section.person_content ul.shortcut_bar li:hover a,
section.person_content ul.shortcut_bar li:hover span {
	color: rgba(0, 0, 0, 0.6)
}

section.inner_content div.inner_sub_menu ul li {
	padding: 8px 14px 8px 14px;
	background-color: #575757;
	border-bottom: 1px solid #474747;
	border-left: 1px solid #474747;
	border-right: 1px solid #474747
}

section.inner_content div.inner_sub_menu ul li.primary {
	display: none
}

section.inner_content div.inner_sub_menu ul li a {
	font-size: 0.9em;
	color: #fff
}

section.inner_content div.inner_sub_menu ul li a span {
	color: rgba(255, 255, 255, 0.8)
}

div.header_poster_wrapper {
	min-height: auto;
	display: static
}

section.inner_content section.header {
	width: 100%;
	position: relative;
	bottom: 0;
	top: 0;
	float: none;
	box-sizing: border-box;
	padding-left: 0;
	align-items: flex-start
}

section.inner_content section.header.small {
	padding: 0 20px
}

section.inner_content section.header.profile {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	height: auto
}

section.inner_content section.header span.release_date {
	font-size: 0.8em
}

section.inner_content section.header.small h2 {
	font-size: 1.6em
}

section.inner_content section.header div.pad {
	padding: 0 20px
}

section.inner_content section.header div.overview p:last-child {
	margin-bottom: 30px
}

section.inner_content section.header.poster div.title h2,
section.inner_content section.header.poster div.title h3 {
	width: 100%;
	display: inline-block;
	z-index: 0;
	padding-left: calc(26vw + 20px)
}

section.inner_content section.header.poster div.title h3 span {
	color: #fff;
	opacity: 0.6
}

section.inner_content section.header.poster div.title div.mobile_header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 20px;
	z-index: 4;
	min-height: calc(19vw + 20px)
}

section.inner_content section.header.poster div.title div.mobile_header div.content {
	padding: 20px 0
}

section.inner_content section.header.poster div.title div.mobile_header.small h2 {
	font-size: calc(0.4em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.medium h2 {
	font-size: calc(0.6em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.large h2 {
	font-size: calc(0.7em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.small h3 {
	font-size: calc(0.3em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.medium h3 {
	font-size: calc(0.4em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.large h3 {
	font-size: calc(0.4em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.small h3.season {
	font-size: calc(0.1em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.medium h3.season {
	font-size: calc(0.2em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header.large h3.season {
	font-size: calc(0.3em + 3vw)
}

section.inner_content section.header.poster div.title div.mobile_header h3.season {
	opacity: 0.8
}

section.header.small div.second_header {
	display: none
}

div.second_header {
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-around
}

div.second_header.false,
div.second_header.tv_episode {
	justify-content: flex-start
}

div.consensus {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: auto;
	width: auto;
	left: 0
}

div.consensus div.outer_ring {
	width: 45px;
	height: 45px;
	margin-right: 10px
}

div.consensus .user_score_chart .percent {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1px;
	box-sizing: border-box
}

div.consensus .user_score_chart .percent .icon {
	font-size: 0.8em;
	line-height: 1em
}

div.consensus div.text {
	font-weight: 700;
	color: #fff;
	max-width: 60%
}

div.no_backdrop+section.header.poster div.title h2 {
	padding-top: 0
}

section.inner_content section.header span.social_links {
	width: 100%;
	display: flex;
	justify-content: center
}

section.inner_content section.header span.social_links a {
	margin: 0 4px
}

section.inner_content section.header span.social_links a:first-of-type {
	margin-left: 0
}

section.inner_content section.header.poster div.title h3 {
	margin-bottom: 0
}

section.inner_content section.header.poster div.title h3.tv_episode {
	display: block;
	padding-left: 0
}

section.inner_content section.header.poster div.title h2.tv_episode {
	display: block;
	padding-left: 0;
	margin-top: 30px
}

section.inner_content section.header.poster div.title h3 span.glyphicons {
	display: none
}

section.inner_content section.header.profile h2 {
	width: 100%;
	display: inline-block;
	font-size: 2em;
	padding: 0;
	text-align: center
}

section.inner_content section.header h3.reset {
	padding-left: 0
}

section.facts div.social_links div {
	margin-bottom: 20px
}

section.inner_content section.header div.title {
	margin-bottom: 30px;
	text-align: left
}

section.inner_content section.header.poster div.title,
ul.shortcut_bar {
	background-color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0
}

ul.shortcut_bar {
	background-color: rgba(0, 0, 0, 0.65)
}

section.inner_content section.header.poster div.title a,
section.inner_content section.header div.title a {
	color: #fff
}

section.inner_content section.header.profile div.title a {
	color: #000
}

section.inner_content section.header div.trailer {
	color: #fff;
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden
}

section.inner_content section.header div.score+div.pipe {
	margin-left: 4px
}

section.inner_content section.header div.second_header div.pipe {
	box-sizing: border-box;
	width: 1px;
	height: 24px;
	display: inline-block;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 4px
}

section.inner_content section.header div.trailer a {
	display: inline-flex;
	align-items: center;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

section.inner_content section.header div.trailer a span {
	position: static;
	padding-top: 2px;
	padding-right: 4px
}

section.inner_content section.header.no_image ul li a {
	color: #fff
}

section.inner_content section.images {
	display: block
}

section.inner_content section.images div div.image_content {
	width: 100%;
	height: 100%;
	position: static;
	overflow: hidden;
	box-sizing: border-box
}

section.inner_content section.images div.poster.no_backdrop div.image_content {
	overflow: visible
}

section.inner_content section.images div.poster div.image_content a {
	width: auto;
	height: auto
}

section.inner_content section.images div.poster img.backdrop {
	position: relative;
	top: -3vw;
	width: 100vw;
	height: 56vw;
	border-radius: 0
}

section.inner_content section.images div.poster a.progressive,
section.inner_content section.images div.poster div.no_image_holder {
	position: absolute;
	bottom: -20vw;
	height: 39vw;
	left: 20px
}

section.inner_content section.images div.poster a.progressive img,
section.inner_content section.images div.poster img.poster {
	width: 26vw;
	height: 39vw;
	z-index: 4
}

section.inner_content section.images div.profile {
	width: 50vw;
	height: 50vw;
	margin: 0 auto;
	margin-top: 30px
}

section.inner_content section.images div.profile a.progressive img,
section.inner_content section.images div.profile div.no_image_holder {
	width: 50vw;
	height: 50vw;
	margin-top: 0;
	box-sizing: border-box;
	bottom: auto;
	margin-left: 0;
	border-radius: 4px
}

section.images div.image_content+div.zoom {
	display: none
}

section.inner_content section.header ul.actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	margin-bottom: 0;
	display: flex;
	justify-content: space-around;
	background: rgba(8, 28, 36, 0.85);
	box-sizing: border-box
}

section.inner_content section.header ul.actions li.tooltip {
	background: none;
	margin: 0;
	border: none;
	padding: 0
}

section.inner_content section.header ul.actions li a {
	color: #fff !important;
	border: none !important;
	background-color: transparent !important;
	width: 30px;
	height: 30px
}

section.inner_content section.header ul.actions li.menu ul.sub_menu li a {
	color: #00d573 !important;
	padding: 0
}

div#lists_content {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box
}

div#lists_content ul {
	display: block;
	position: relative;
	background: #fff;
	padding: 0;
	box-sizing: border-box
}

div#lists_content ul li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box
}

div.column_wrapper {
	flex-wrap: wrap
}

div.reverse.person_page div.grey_column,
div.reverse div.grey_column {
	width: 100%;
	order: 2;
	padding-right: 0
}

div.reverse.person_page div.white_column,
div.reverse div.white_column {
	width: 100%;
	padding-left: 0;
	padding-bottom: 0
}

div.white_column,
div.grey_column {
	width: 100%;
	height: auto;
	min-height: auto;
	justify-content: flex-start;
	padding: 0
}

div.grey_column.pad,
div.white_column.pad {
	padding-top: 0
}

div.column_wrapper div.content_wrapper {
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box
}

div.header.first div.content_wrapper.full_width.bottom_border,
div.header_small div.content_wrapper.full_width.bottom_border {
	background-color: transparent;
	border: none
}

div.content_wrapper.full_width div.meta {
	padding: 4px 0
}

div.content_wrapper.full_width div.flex.meta {
	justify-content: center
}

div.content_wrapper.pad {
	padding-top: 30px;
	padding-bottom: 30px
}

div.content_wrapper div.split {
	width: 100%
}

div.content_wrapper ol.credits {
	white-space: normal
}

div.content_wrapper section.main_column ol.credits {
	padding-bottom: 0
}

div.content_wrapper div.crew_wrapper:last-of-type ol.credits:last-of-type {
	padding-bottom: 0
}

div.content_wrapper div.crew_wrapper:last-of-type ol.credits:last-of-type li:last-child {
	margin: 0
}

div.content_wrapper div.leaderboard {
	width: 100%
}

div.column_wrapper div.content_wrapper.pad {
	min-height: auto;
	padding: 20px 20px
}

section.split_column {
	padding-top: 0
}

section.split_column,
div.grey_column>div {
	width: 100%
}

div.grey_column>div {
	padding: 30px 20px
}

section.split_column section {
	width: 100%;
	margin-bottom: 30px
}

section.split_column div.left_column,
section.split_column div.right_column {
	float: none;
	padding: 0
}

section.split_column>div {
	width: 100%;
	padding: 0
}

section.top_billed {
	padding: 40px 20px 0 20px
}

section.panel {
	width: 100vw;
	padding: 30px 20px
}

section.panel:last-of-type {
	padding-bottom: 30px
}

section.panel.scroller {
	padding: 30px 0
}

section.panel.collection {
	padding-left: 0;
	padding-right: 0;
	width: calc(100vw - 40px)
}

section.panel h3 {
	padding: 0;
	font-size: 1.2em
}

section.panel.scroller h3 {
	padding: 0 20px
}

section.panel.scroller p.new_button {
	padding: 0 20px
}

section.facts,
section.genres,
section.keywords {
	font-size: calc(0.7em + 1vw)
}

section.panel h3+p {
	padding: 0 20px
}

div.media section h3>p {
	padding-left: 0
}

div.media div.slip_out section>p {
	padding-left: 20px;
	padding-right: 20px
}

section.split_column p.full_width.button {
	right: 0;
	margin-top: 0;
	margin-bottom: 30px
}

p.full_width.button a.rounded {
	display: inline-block
}

section.split_column>div:last-child {
	background-color: transparent;
	padding-top: 0
}

section.content_score {
	box-sizing: border-box
}

section.content_score div.content_score,
div#popularity_waypoint {
	width: 100%
}

section.review div.review_container div.content {
	width: 100%
}

section.review div.review_container div.inner_content {
	width: 100%;
	padding-right: 0
}

section.review div.review_container div.grouped {
	padding-bottom: 20px;
	flex-wrap: nowrap;
	width: 100%
}

section.review div.review_container div.avatar {
	margin-bottom: 10px
}

div.media section div.info h3,
div.media section div.info p {
	white-space: normal
}

ol.people li p.character {
	font-size: 0.9em
}

section.review div.review_container div.image {
	display: none
}

section.review div.review_container div.inner_content h3 {
	padding-left: 0;
	padding-bottom: 4px
}

section.review div.review_container div.inner_content div.rating {
	margin-left: 0;
	display: block
}

section.review div.review_container div.inner_content div.rating span {
	top: 2px
}

section.review div.review_container div.inner_content h5 {
	display: inline-block;
	padding-left: 0;
	margin-top: 10px
}

section.review div.review_container div.inner_content div.teaser {
	padding-left: 0;
	padding-right: 0;
	width: 100%
}

section.media_panel>div.content.mini {
	white-space: normal
}

section.media_panel>div.content.mini div ul {
	flex-wrap: wrap
}

section.media_panel>div.content.mini div ul li {
	width: 100%
}

section.media_panel>div.content.mini div ul li:nth-child(n+2) {
	margin-top: 10px
}

section.media_panel>div.content div.view_more div.link {
	padding-top: 0
}

section.media_panel div.menu {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	align-content: flex-start;
	justify-content: space-between
}

section.panel.media_panel.scroller ul {
	padding-right: 20px
}

section.panel.media_panel.scroller div.menu {
	margin-bottom: 12px
}

div.single_column_wrapper.slip_out div.single_column,
section.social_panel div.menu {
	padding-left: 0;
	padding-right: 0
}

section.media_panel div.content {
	height: 141px;
	width: 100%;
	box-sizing: border-box
}

section.media_panel.social_panel div.content {
	height: auto
}

section.media_panel div.content div.video,
section.media_panel div.content div.backdrop,
section.media_panel div.content div.video iframe,
section.media_panel div.content div.video.view_more div.link,
section.media_panel div.content div.backdrop.view_more div.link {
	width: 250px;
	height: 141px
}

section.media_panel>div.content div.backdrop img {
	width: 250px;
	height: 141px
}

div.video.card {
	overflow: hidden;
	flex-wrap: wrap;
	height: auto
}

div.video.card.no_border {
	overflow: visible
}

div.video.card.default {
	height: auto
}

div.video.card div.wrapper {
	min-width: 0;
	width: 100%;
	height: calc((100vw - 40px) / 1.78)
}

div.video.card div.iframe {
	width: 100%;
	height: 100%;
	float: none;
	box-sizing: border-box;
	line-height: 0
}

div.video.card div.info {
	height: auto;
	width: 100%;
	min-width: 100%
}

div.video.card div.info p.report {
	position: static
}

section.media_panel div.content div.poster,
section.media_panel div.content div.poster.view_more div.link {
	width: 94px;
	height: 141px
}

section.media_panel>div.content div.video div.wrapper {
	width: 250px;
	height: 141px
}

section.media_panel>div.content div.poster img {
	width: 94px;
	height: 141px
}

section.media_panel div.menu h3 {
	margin-right: 0
}

section.media_panel div.menu ul {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: flex-start;
	width: auto
}

section.media_panel div.menu ul li {
	border-bottom: 3px solid transparent;
	margin-right: 0;
	margin-left: 24px;
	text-align: right;
	font-size: 1em
}

section.media_panel div.menu ul li.active {
	margin-bottom: 5px
}

div.media.movie_v4.header_medium,
div.media.tv_v4.header_medium,
div.media.person_v4.header_medium {
	width: 100%;
	display: flex;
	flex-wrap: wrap
}

section.inner_content div.bg_filter {
	max-height: none;
	background: #fff
}

div.media.movie_v4.header_medium div.left_column,
div.media.tv_v4.header_medium div.left_column,
div.media.person_v4 div.left_column {
	position: static;
	float: none;
	width: 100%;
	order: 2;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 30px
}

div.media.movie_v4.header_medium section.main_column,
div.media.tv_v4.header_medium section.main_column,
div.media.person_v4 section.main_column {
	order: 1;
	float: none;
	width: 100%;
	padding: 0 20px;
	margin-top: 50px
}

div.media.header_medium div.left_column+section.main_column {
	margin-bottom: 50px
}

section.inner_content section.header h2 a {
	color: #fff
}

section.inner_content section.header.profile h2 a {
	color: #000
}

section.inner_content section.header div.biography {
	height: auto;
	width: 100%
}

section.inner_content section.header div.biography div.content div.text.reset {
	max-height: none;
	height: auto
}

section.inner_content section.header div.biography div.content div.text.reset p:last-of-type {
	margin-bottom: 0
}

div.media.person_v4.header_medium section.main_column {
	top: 0;
	margin-top: 30px;
	margin-bottom: 30px
}

div#known_for+section.main_column {
	margin-top: 10px
}

section.inner_content section.header.truncated {
	height: auto
}

div#known_for {
	padding-top: 30px
}

div#known_for h3 {
	padding: 0 20px
}

ul.horizontal_media_list {
	flex-wrap: nowrap;
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	margin-bottom: 0
}

ul.horizontal_media_list li {
	display: inline-block;
	width: 132px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 30px;
	margin-right: 15px;
	white-space: normal
}

ul.horizontal_media_list li.card {
	border: 1px solid #e3e3e3
}

ul.horizontal_media_list li:first-child {
	margin-left: 20px
}

ul.horizontal_media_list li div.image {
	width: 130px;
	height: 195px;
	margin: 0
}

ul.horizontal_media_list li img,
ul.horizontal_media_list li img.placeholder {
	width: 100%;
	height: 100%;
	border-radius: 0
}

ul.horizontal_media_list li img {
	width: 130px;
	height: 195px
}

ul.horizontal_media_list li p {
	padding: 7px 10px
}

ul.horizontal_media_list li a.title {
	width: 100%;
	display: inline-block;
	text-align: left;
	font-size: 1em;
	color: #000
}

section.leaderboard div.leaders>p {
	margin-top: 20px
}

section.inner_content div.header.medium section.header {
	padding-bottom: 30px
}

section.inner_content div.header.medium section.images div.poster {
	margin-bottom: 0
}

div.header p.full_width.button {
	margin-top: 50px;
	margin-bottom: 0
}

div.header.collection:before,
div#collection_waypoint,
div.header.collection {
	width: 100%
}

ol.people {
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	box-sizing: border-box;
	padding-bottom: 16px
}

ol.people.no_image {
	width: calc(100vw - 40px);
	padding-bottom: 30px
}

ol.people.no_image li {
	width: 50%;
	flex-basis: 50%;
	margin-bottom: 0;
	box-sizing: border-box
}

ol.people.no_image li:nth-child(odd) {
	padding-left: 0;
	padding-right: 10px
}

ol.people.no_image li:nth-child(even) {
	padding-left: 10px;
	padding-right: 0
}

ol.people.no_image li:first-child {
	margin-left: 0
}

ol.people.no_image li:last-child {
	margin-right: 0
}

ol.people.no_image li:nth-child(n+3) p:first-child {
	padding-top: 20px
}

ol.people li:first-child {
	margin-left: 20px
}

ol.people li:last-child {
	margin-right: 20px
}

ol.people.scroller li:last-child {
	width: auto;
	padding-left: 20px;
	padding-right: 40px;
	display: flex;
	align-items: center
}

ol.people.scroller li.pad:last-child {
	padding: 0
}

ol.people.scroller li:last-child p {
	white-space: nowrap;
	padding: 0 !important
}

ol.people.center {
	justify-content: flex-start
}

ol.people li {
	display: inline-block;
	width: 122px;
	text-align: left
}

ol.people li p {
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	word-wrap: break-word
}

ol.people li>a {
	width: 120px;
	height: 133px;
	margin-bottom: 0
}

section.panel ol.people li p:first-of-type {
	padding-top: 8px
}

ol.credits li,
ul.credits li {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: flex
}

ol.people.credits li {
	margin-top: 0;
	margin-bottom: 10px
}

ol.people.credits li:first-child {
	margin-left: 0
}

ol.people.credits li>a {
	margin-bottom: 0
}

ol.people.credits li div.info {
	width: 100%;
	height: auto;
	margin-left: 0;
	float: none;
	display: block;
	margin-bottom: 0;
	box-sizing: border-box;
	padding-right: 0
}

section.main_column h4.department {
	margin-top: 0;
	margin-bottom: 20px
}

div.column p.login {
	margin-bottom: 20px
}

section.recommendations {
	width: 100vw
}

section.recommendations div.scroller {
	width: 100vw;
	padding-left: 20px;
	padding-right: 20px
}

table.credit_group tbody td.year {
	padding-left: 14px;
	padding-right: 0
}

table.credit_group tbody td.role {
	padding-right: 10px
}

table.changes_v4,
table.changes_v4 tbody {
	width: 100%;
	max-width: 100%;
	overflow: hidden
}

table.changes_v4 tbody td.account {
	padding-left: 20px
}

table.changes_v4 tbody td.content {
	width: 100%;
	max-width: 250px;
	overflow: scroll;
	box-sizing: border-box
}

div.header.large.season+div.single_column_wrapper {
	padding-top: 0
}

div.header.large.season,
div.header.large.season section.season {
	height: auto
}

div.header.large.season section.season img {
	display: none
}

div.header.large.season section.season div.content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%
}

div.header.large.season section.season div.content div.season_list {
	display: flex;
	flex-wrap: wrap
}

div.header.large.season section.season div.content div.season_list ul {
	max-width: 100%;
	width: 100%;
	order: 1;
	margin-bottom: 40px
}

div.header.large.season section.season div.content div.season_list h3 {
	width: 100%;
	order: 2;
	display: block
}

div.header.large.season section.season div.content h2 {
	margin-top: 0
}

div.season_wrapper section.panel div.season {
	flex-wrap: nowrap;
	padding: 0 20px;
	width: calc(100vw - 40px)
}

div.season_wrapper section.panel div.season div.content {
	width: 100%;
	padding-left: 20px
}

div.season_wrapper section.panel div.season div.content h2 {
	padding-right: 0
}

div.season_wrapper section.panel div.season div.content h4 {
	display: block
}

div.season_wrapper section.panel div.season div.content div.season_overview {
	padding-top: 20px
}

div.season.card>a,
div.season_wrapper section.panel div.season>a,
div.season.card>a img,
div.season_wrapper section.panel div.season>a img {
	display: block;
	width: 94px;
	height: 141px
}

div.season.card>a {
	display: none
}

div.episode_list div.card {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box
}

div.episode_list div.card:nth-child(n+2) {
	margin-top: 30px
}

div.episode_list,
div.episode div.info {
	width: calc(100vw - 20px);
	max-width: 100%;
	box-sizing: border-box
}

div.episode div.info {
	padding: 10px
}

div.episode {
	margin-bottom: 0
}

div.episode.closed {
	height: auto
}

div.episode.closed div.expanded_info,
div.episode.closed div.image div.misc {
	display: none
}

div.episode.closed div.info {
	height: auto
}

div.episode div.image,
div.episode div.info {
	float: none
}

div.episode div.info div.title {
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 20px
}

div.episode div.info div.title>div.wrapper {
	margin-top: 2px
}

div.episode div.info div.title div.wrapper {
	padding-right: 0;
	order: 2
}

div.episode div.info div.title h3 {
	white-space: normal;
	overflow: visible;
	text-overflow: clip
}

div.episode div.info div.date {
	width: 100%
}

div.regular_cast ol.people.credits li {
	width: 100%
}

section.main_column div.regular_cast ol.people.credits li:last-child {
	margin-bottom: 0
}

div.regular_cast ol.people.credits+p.show_more {
	margin-top: 0
}

div.episode div.expanded_info {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	flex-wrap: wrap;
	padding: 20px 10px
}

div.episode div.expanded_info div.crew {
	order: 2
}

div.episode div.expanded_info div.crew,
div.episode div.expanded_info div.guest_stars {
	width: 100%
}

div.episode div.expanded_info div.guest_stars {
	margin-bottom: 20px
}

div.expanded_info ol.people li {
	width: 100%
}

div.episode div.episode_images {
	width: 100%
}

div.episode ul.episode_images {
	width: 300px;
	height: 90px
}

div.episode div.image {
	width: calc(100vw - 40px);
	height: calc((100vw - 40px) / 1.78)
}

div.episode div.image img,
div.episode div.image a.open,
div.episode div.image a.open img {
	width: 100%;
	height: 100%
}

div.episode div.image a.open img {
	display: block
}

div.episode ol.people.credits {
	padding-bottom: 0
}

ol.people.credits li:last-of-type {
	margin-bottom: 0
}

div.header.large.collection h2 {
	font-size: 1.7em
}

section.inner_content h3.breadcrumb a.button.edit.upload {
	display: none
}

section.panel.user_images ul.images {
	width: calc(100vw - 40px)
}

section.inner_content ul.images.backdrops.compact li.card {
	width: 100%
}

section.inner_content ul.images.backdrops.compact li.card div.image_content {
	width: 100%;
	height: auto
}

section.inner_content ul.images.backdrops.compact li.card div.image_content img {
	width: calc(100vw - 40px);
	height: calc((100vw - 40px) / 1.78)
}

section.inner_content ul.images.posters.compact li.card {
	box-sizing: border-box;
	width: calc(50vw - 30px);
	margin-right: 0
}

section.inner_content ul.images.posters.compact li.card:nth-child(n+3),
section.inner_content ul.images.backdrops.compact li.card:nth-child(n+2) {
	margin-top: 30px
}

section.inner_content ul.images.posters.compact li.card:nth-of-type(odd) {
	margin-right: 10px
}

section.inner_content ul.images.posters.compact li.card:nth-of-type(even) {
	margin-left: 10px
}

section.inner_content ul.images.posters.compact li.card div.image_content {
	width: calc(50vw - 32px);
	height: calc((50vw - 32px) * 1.5)
}

section.inner_content ul.images.posters.compact li.card div.image_content img {
	width: 100%;
	height: 100%
}

section.inner_content ul.images.posters.compact div.info div.meta {
	padding-top: 10px;
	padding-bottom: 0
}

section.inner_content ul.images li.card+li.card {
	margin-top: 30px
}

section.inner_content ul.images.compact li.card+li.card {
	margin-top: 0
}

div.discussion_container {
	padding-top: 10px
}

div.discussion_container tr {
	flex-wrap: wrap
}

div.discussion_container table {
	width: 100%
}

div.discussion_container table td:first-of-type {
	width: 100%;
	padding-top: 10px;
	display: block
}

div.discussion_container table td:nth-of-type(2),
div.discussion_container table td:nth-of-type(3) {
	width: auto
}

div.discussion_container table td p {
	font-size: 0.9em
}

div.discussion_container table td:last-child {
	width: auto
}

div.discussion_container table tbody td:last-child p.notify {
	overflow: visible;
	white-space: normal
}

div.discussion_container table tbody td.subject a.topic {
	max-width: 65vw
}

div.season_wrapper section.panel {
	width: 100%
}

section.facts div.fantv {
	width: 100%
}

div.credits div.split:nth-child(even) {
	padding-left: 0
}

section.header.small span.flex {
	width: calc(100vw - 40px)
}

section.header.small span.flex.backdrop>a {
	display: none
}

section.header.small span.flex>span {
	width: calc(100vw - 20px - 58px - 20px)
}

section.header.small span.flex.backdrop>span {
	width: 100vw;
	padding-left: 0
}

section.inner_content section.header div.episode_number {
	margin-top: 0
}

div.header div.inner_content.tight div.content,
div.header div.inner_content.tight div.content.space_between {
	justify-content: center
}

div.header div.inner_content.tight div.meta div.flex {
	width: 100%
}

div.header div.inner_content.tight div.meta ul {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: center
}

div.header div.inner_content.tight div.meta ul li {
	margin-left: 10px;
	margin-right: 10px
}

div.card.v4.tight div.details {
	padding: 14px;
	width: 100%;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap
}

div.card.v4 div.details div.wrapper {
	align-items: flex-start
}

div.card.v4.tight div.details div.title {
	flex-wrap: wrap
}

div.card.v4.tight div.details div.title h2 {
	display: block;
	font-size: 1em;
	width: calc(100vw - 20px - 94px - 28px - 48px);
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

div.card.v4.tight div.details div.overview {
	max-height: 3.8em;
	height: 3.8em
}

div.card.v4 div.details div.wrapper+div.overview {
	margin-top: 0
}

div.card.v4.tight div.details div.overview p {
	display: block;
	font-size: 0.9em
}

div.card.v4.tight div.details div.title span.release_date {
	margin-left: 0;
	font-size: 0.9em
}

div.header div.inner_content.tight div.content.backdrop div.about {
	margin-left: 0
}

div.header div.inner_content.tight div.about+div {
	margin-top: 10px
}

div.header div.inner_content div.content span.flex span.inner_flex>a {
	margin-right: 0;
	margin-bottom: 10px
}

div.header div.inner_content.tight div.content.space_between span.flex span.inner_flex {
	justify-content: center;
	flex-wrap: wrap
}

div.header div.inner_content.tight div.content.space_between span.flex span.inner_flex div.flex {
	justify-content: center;
	width: 100%
}

div.header div.inner_content div.content.backdrop div.about div.content_wrapper:first-of-type {
	justify-content: center
}

div.header div.inner_content div.about div.content_wrapper:first-of-type h2 {
	margin-right: 0
}

div.header div.inner_content div.content.backdrop span.flex span.inner_flex a {
	text-align: center;
	width: 100%;
	height: auto
}

section.panel div.group_dropdown div ul {
	top: -3px
}

div.block div.inner_content div.content section.episode_selector {
	flex-wrap: wrap;
	width: 100vw;
	padding: 6px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #d7d7d7
}

div.block div.inner_content div.content section.episode_selector span.previous,
div.block div.inner_content div.content section.episode_selector span.next {
	width: 50%
}

section.floating_poster {
	padding-left: 10px;
	width: 26vw;
	padding-right: 20px
}

section.floating_poster img {
	width: 100%
}

section.main_body {
	width: calc(74vw);
	padding-right: 10px
}

ul.list_of_languages li {
	width: 100%
}
}